.top_footer {
    background: #334356;
    font-size: 16px;
    color: #bdbdbd;
    line-height: 25px;
    font-weight: 400;
    padding: 20px 0;
  }
  .MuiBox-root {
    padding: 10px 0;
  }
  .menu_top {
    color: #e1e1e1;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
  .footer_box {
    background: #2c3a4b;
    color: #bdbdbd;
    a {
      font-size: 18px;
    }
  }
  .logo_footer {
    margin-left: 36px;
  }
  .footer_box_mobile {
    background: #181f26;
    color: #9f9f9f;
    font-size: 16px;
  }
  .MuiAccordionSummary-content.Mui-expanded {
    color: #00b3ff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .MuiAccordionDetails-root {
    color: #bdbdbd;
  }
  .MuiAccordionSummary-root {
    display: inline-flex;
  }
  