.header {
    margin: 20px auto;
  }
  
  .MuiToolbar-regular {
    display: flex;
    justify-content: space-between;
  }
  
  .phone__icons {
    margin-right: 12px;
    width: 16px;
    height: 16px;
  }
  
  .phone__links {
    font-family: PT Root UI;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .drawer_link {
    text-decoration: none;
    color: blue;
    font-size: 20px;
  }
  
  .MuiIconButton-label {
    color: #07b1fd;
  }
  